## -*- coding: utf-8 -*-
<%include file="../header.html" />
<h3>Privacy rules</h3>
We only log accesses to our website, nothing else.<br />

The only personnal information we keep is your email address; this one should really function,
in case you lose your API key (it will be the only way to get a new one)

<h3>Email address policy</h3>
We won't sell any information (that is, any email address) to anyone nor any enterprise.
They are only saved for our own contact system.<br />

We do not have any mailing list.<br />

<h3>Encryption</h3>
We store your AES key encrypted in our database.<br />
We strongly recommand you to use the SSL connection to our service (certificate is signed by <a href="http://cacert.org">CACert</a>. 
You'll have to accept and add their root certificate.<br />
We also recommand you to sign each request, and to check our signature in each response. See <a href="/doc"> our documentation</a>.

<h3>Beware of SCAM</h3>
We will never and ever ask you for your AES key nor API key. If you receive such a mail, DELETE it and do not reply!<br />

<h3>Source code</h3>
You can ask us our source code if you want to check how we do our stuff. If you want to install 
this application on your own server, we can provide a compressed archive (.tar.gz) with all the Pylons code.

<h3>Contact</h3>
<ul>
  <li>Mail: <a href="mailto:yubico@internux.ch">yubico@internux.ch</a></li>
  <li>Phone: <a href="callto:0041787480302">0041787480302</a> (Mobile phone)</li>
  <li>Address:<br />
    Cedric Jeanneret<br />
    Av. des Alpes 123<br />
    CH-1814 La Tour-de-Peilz<br />
    Switzerland
  </li>
</ul>

<%include file="../footer.html" />
