## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />

    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/style.css" />

    <title>YubiKey Service</title>
  </head>
  <body>
    <div id="container">
      <h2 class="title">Yubikey Service</h2>
      <div id="bottomContent">

