## -*- coding: utf-8 -*-
<%include file="../header.html" />
<h3>Success</h3>
<p>
  You successfully added your YubiKey informations on this server.<br />
  From now on, you can use <a href="https://yubico.internux.ch/verify/">https://yubico.internux.ch/verify/check/?otp=OTP&amp;h=SIGN</a>
  to validate your login system.<br />
  SIGN is obtained through this code:<br />
<pre>
args = hmac.new(key, s, digestmod=sha512)
sign = base64.b64encode(args.digest())
</pre>
  where "key" is your API key (see bellow) and "s" is a simple "otp=OTP".
</p>

<p>
% if c.replay:
  Here is your API key for recall: ${c.api_key}<br />
% else:
  Your API key is: ${c.api_key}<br />
% endif  
  Don't lose it. If it happens anyway, send an email to yubico[at]internux[dot]ch. We will regenerate a brand new key.
</p>
<p>You can access your <a href="/manager/">Manager</a>. You'll have to log in with one of your configured Yubikey.</p>
<%include file="../footer.html" />
